# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv*/
.venv*/
env/
.deps/
.tmp/
.pip-cache/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# PostgreSQL
*.pgsql
*.sql

# Python packaging
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Migrations cache
*.pyc

# Frontend
node_modules/
.tanstack/tmp/
dist/
.vite/
